<a href="https://colab.research.google.com/github/tomasrodriguezr11/Programacion-MIAAD/blob/main/Practica12a16_266228.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Práctica 12,13,14,15,16 - Unidad 2: Limpieza y Transformación de Datos**
**Programación para analítica descriptiva y predictiva MIAAD**

*Realizada por: Tomás Eduardo Rodríguez Ramírez*

*Número de matrícula: 266228*

# Objetivo:
El objetivo de esta actividad es que los estudiantes practiquen los temas vistos de carga de datos, normalización de nombres de columnas, separación y unión de columnas, errores en los tipos de datos. Todo es en un conjunto de datos utilizando Pandas en Python.

# Instrucciones:
1. Descarga el archivo CSV, miaad-nyc-r-s.csv, proporcionado en esta tarea. También lo puedes encontrar en recursos.
2. Crea un notebook en colab y guarda el archivo csv descargado en tu drive.
3. Agrega secciones en el colab poniendo como título el nombre de la práctica

**Práctica 12: Carga de Datos**

Al final del archivo contiene una línea que dice "Esta es una línea que no deberías cargar". Esta línea es irrelevante por lo tanto al cargar el CSV a un dataframe se debería de ignorar.

- Carga el archivo a un dataframe usando el código necesario para omitir la última fila.
- Usa df.tail(3) para demostrar que no has cargado la última línea
- Imprime la cantidad de filas y columnas del dataframe

**Práctica 13: Cambiar nombre de columna**

- Imprime los nombres de la columnas del archivo
- Asegúrate que el nombre de la primera columna debería ser INDEX MIAAD. Si esto no es así, entonces cambia el nombre de la columna y vuelve a imprimir los nombres para mostrar el cambio realizado. Después del cambio debería aparecer INDEX MIAAD

**Práctica 14: Normalización de los nombres de la columna.**

- Normaliza los nombres de las columnas, los cuales deberán estar en minúsculas. Asimismo, reemplaza los espacios con guion bajo
- Imprime los nombres de las columnas para demostrar que has realizado la normalización.

**Práctica 15: Errores en los Tipos de Datos**
- Imprime los tipos de datos de cada columna.
- Asegúrate que las columnas de SALE PRICE(sale_price), LAND SQUARE FEET (land_square_feet), GROSS SQUARE FEET (gross_square_feet) sean de tipo flotante. Escribe qué tipo de dato tienen asignado. Si no son correctos, realiza el cambio.
- Imprime de nuevo los tipos de datos para demostrar que has arreglado el problema.

**Práctica 16: Genera el diccionario de datos del dataframe preprocesado. Imprime el contenido de dicho diccionario**

Sube un archivo txt que contenga la liga a tu notebook

# **Práctica 12: Carga de Datos**

In [4]:
import pandas as pd

# Carga del archivo miaad-nyc-r-s a un dataframe omitiendo la última fila
dataset="drive/MyDrive/ProgramacionMIAAD/miaad-nyc-r-s.csv"
df = pd.read_csv(dataset, skipfooter=1, engine='python')
df.tail(3)

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
84545,8411,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7351,60,,B2,49 PITNEY AVENUE,...,2,0,2,4000,1496,1925,1,B2,460000,2017-07-05 00:00:00
84546,8412,5,WOODROW,22 STORE BUILDINGS,4,7100,28,,K6,2730 ARTHUR KILL ROAD,...,0,7,7,208033,64117,2001,4,K6,11693337,2016-12-21 00:00:00
84547,8413,5,WOODROW,35 INDOOR PUBLIC AND CULTURAL FACILITIES,4,7105,679,,P9,155 CLAY PIT ROAD,...,0,1,1,10796,2400,2006,4,P9,69300,2016-10-27 00:00:00

In [5]:
# Cantidad de filas y columnas del dataframe
print("Filas:", df.shape[0])
print("Columnas:", df.shape[1])

Filas: 84548
Columnas: 22

# **Práctica 13: Cambiar nombre de columna**

In [6]:
# Nombres de la columnas del archivo
print("Nombre de columnas:")
print(df.columns)

Nombre de columnas:
Index(['Unnamed: 0', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

In [8]:
# La primera columna no se llama INDEX MIAAD

# Cambio de nombre de la primera columna a INDEX MIAAD
df.rename(columns={df.columns[0]: "INDEX MIAAD"}, inplace=True)

print("Nombre de columnas después del cambio:")
print(df.columns)

Nombre de columnas después del cambio:
Index(['INDEX MIAAD', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

#**Práctica 14: Normalización de los nombres de la columna.**

In [9]:
# Normalización de los nombres de las columnas en minúsculas y cambiando los espacios por guion bajo
df.columns = df.columns.str.lower().str.replace(" ", "_")

# Nombres de las columnas normalizadas
print("Columnas normalizadas:")
print(df.columns)

Columnas normalizadas:
Index(['index_miaad', 'borough', 'neighborhood', 'building_class_category',
       'tax_class_at_present', 'block', 'lot', 'ease-ment',
       'building_class_at_present', 'address', 'apartment_number', 'zip_code',
       'residential_units', 'commercial_units', 'total_units',
       'land_square_feet', 'gross_square_feet', 'year_built',
       'tax_class_at_time_of_sale', 'building_class_at_time_of_sale',
       'sale_price', 'sale_date'],
      dtype='object')

#**Práctica 15: Errores en los Tipos de Datos**

In [10]:
# Tipos de datos de cada columna.
print("Tipos de datos:")
print(df.dtypes)

Tipos de datos:
index_miaad                        int64
borough                            int64
neighborhood                      object
building_class_category           object
tax_class_at_present              object
block                              int64
lot                                int64
ease-ment                         object
building_class_at_present         object
address                           object
apartment_number                  object
zip_code                           int64
residential_units                  int64
commercial_units                   int64
total_units                        int64
land_square_feet                  object
gross_square_feet                 object
year_built                         int64
tax_class_at_time_of_sale          int64
building_class_at_time_of_sale    object
sale_price                        object
sale_date                         object
dtype: object

In [13]:
# Tipos de datos de las columnas SALE PRICE(sale_price), LAND SQUARE FEET (land_square_feet), GROSS SQUARE FEET (gross_square_feet) - Deben ser tipo flotante.
print("\nTipos de datos de las siguientes columnas:")
print("sale_price:", df["sale_price"].dtype)
print("land_square_feet:", df["land_square_feet"].dtype)
print("gross_square_feet:", df["gross_square_feet"].dtype)

Tipos de datos de las siguientes columnas:
sale_price: object
land_square_feet: object
gross_square_feet: object

In [15]:
# Debido a que las columnas tienen tipo de dato "object" y no flotante, se realiza el cambio
df["sale_price"] = pd.to_numeric(df["sale_price"], errors="coerce")
df["land_square_feet"] = pd.to_numeric(df["land_square_feet"], errors="coerce")
df["gross_square_feet"] = pd.to_numeric(df["gross_square_feet"], errors="coerce")

# Tipos de datos de las columnas con el ajuste.
print("\nTipos de datos después de la corrección:")
print("sale_price:", df["sale_price"].dtype)
print("land_square_feet:", df["land_square_feet"].dtype)
print("gross_square_feet:", df["gross_square_feet"].dtype)

Tipos de datos después de la corrección:
sale_price: float64
land_square_feet: float64
gross_square_feet: float64

#**Práctica 16: Diccionario de datos**

In [18]:
# Creación del diccionario de datos del dataframe preprocesado. Se considera tipo de dato y cantidad de valores
diccionario_datos = {}

for columna in df.columns:
    diccionario_datos[columna] = {
        "tipo_de_dato": str(df[columna].dtype),
        "cantidad_de_valores": df[columna].count(),
    }

# Contenido del diccionario
diccionario_datos

{'index_miaad': {'tipo_de_dato': 'int64',
  'cantidad_de_valores': np.int64(84548)},
 'borough': {'tipo_de_dato': 'int64', 'cantidad_de_valores': np.int64(84548)},
 'neighborhood': {'tipo_de_dato': 'object',
  'cantidad_de_valores': np.int64(84548)},
 'building_class_category': {'tipo_de_dato': 'object',
  'cantidad_de_valores': np.int64(84548)},
 'tax_class_at_present': {'tipo_de_dato': 'object',
  'cantidad_de_valores': np.int64(84548)},
 'block': {'tipo_de_dato': 'int64', 'cantidad_de_valores': np.int64(84548)},
 'lot': {'tipo_de_dato': 'int64', 'cantidad_de_valores': np.int64(84548)},
 'ease-ment': {'tipo_de_dato': 'object',
  'cantidad_de_valores': np.int64(84548)},
 'building_class_at_present': {'tipo_de_dato': 'object',
  'cantidad_de_valores': np.int64(84548)},
 'address': {'tipo_de_dato': 'object', 'cantidad_de_valores': np.int64(84548)},
 'apartment_number': {'tipo_de_dato': 'object',
  'cantidad_de_valores': np.int64(84548)},
 'zip_code': {'tipo_de_dato': 'int64', 'cantidad_de_valores': np.int64(84548)},
 'residential_units': {'tipo_de_dato': 'int64',
  'cantidad_de_valores': np.int64(84548)},
 'commercial_units': {'tipo_de_dato': 'int64',
  'cantidad_de_valores': np.int64(84548)},
 'total_units': {'tipo_de_dato': 'int64',
  'cantidad_de_valores': np.int64(84548)},
 'land_square_feet': {'tipo_de_dato': 'float64',
  'cantidad_de_valores': np.int64(58296)},
 'gross_square_feet': {'tipo_de_dato': 'float64',
  'cantidad_de_valores': np.int64(56936)},
 'year_built': {'tipo_de_dato': 'int64',
  'cantidad_de_valores': np.int64(84548)},
 'tax_class_at_time_of_sale': {'tipo_de_dato': 'int64',
  'cantidad_de_valores': np.int64(84548)},
 'building_class_at_time_of_sale': {'tipo_de_dato': 'object',
  'cantidad_de_valores': np.int64(84548)},
 'sale_price': {'tipo_de_dato': 'float64',
  'cantidad_de_valores': np.int64(69987)},
 'sale_date': {'tipo_de_dato': 'object',
  'cantidad_de_valores': np.int64(84548)}}