<a href="https://colab.research.google.com/github/tomasrodriguezr11/Programacion-MIAAD/blob/main/Pr%C3%A1ctica6_266228.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Práctica 6 - Unidad 1: Manejo de librería Pandas**
**Programación para analítica descriptiva y predictiva MIAAD**

*Realizada por: Tomás Eduardo Rodríguez Ramírez*

*Número de matrícula: 266228*

# Instrucciones

Carga el archivo titanic.csv en la carpeta correspondiente de Google drive para realizar los siguientes ejercicios:

**Ejercicio 1: Análisis de la distribución de supervivencia por combinación de sexo y clase del pasajero.**

- Calcula la proporción de supervivencia para cada combinación de 'Sex' y 'Pclass'.
- Identifica qué combinación tuvo la tasa de supervivencia más alta.
- Identifica qué combinación tuvo la tasa de supervivencia más baja.

**Ejercicio 2: Identificación de familias grandes a bordo.**

- Crea una nueva columna 'FamilySize' sumando las columnas 'SibSp' y 'Parch'.
- Considera como "familia grande" a aquellas donde 'FamilySize' es mayor a 3.
- Calcula el número de pasajeros en familias grandes.
- Calcula la proporción de supervivencia entre los pasajeros que pertenecen a familias grandes.

**Ejercicio 3: Segmentación por grupos de edad.**

- Clasifica a los pasajeros en las siguientes categorías de edad(tip puede resultar mas sencillo realizarlo con una función):  menor de edad (< 18) y mayor de edad (>=18)

**Ejercicio 4: Comparación entre promedios calculados manualmente y con Pandas**

- Utiliza NumPy para calcular el promedio de las columnas 'Age' y 'Fare', ignorando valores nulos.
- Compara estos valores con los promedios obtenidos utilizando los métodos nativos de Pandas.
- Verifica que los resultados sean consistentes.

**Ejercicio 5. Creación de intervalos de clase usando NumPy y análisis con Pandas**

- Divide la columna 'Fare' en 5 intervalos equidistantes utilizando la función numpy.linspace, el estudiante deberá investigar la operación de esta función en python.
- Crea una nueva columna en el DataFrame que asigne a cada pasajero el intervalo correspondiente de su tarifa.
- Calcula el número de pasajeros en cada intervalo utilizando Pandas y la proporción de supervivientes por intervalo.

No olvides enviar el archivo TXT con la liga a tu notebook en Google Colab y Github

In [16]:
import pandas as pd
import numpy as np

# Carga el archivo CSV en un DataFrame de pandas
df_titanic = pd.read_csv('/content/drive/MyDrive/Programación MIAAD/Titanic-Dataset.csv')

# Imprime las primeras filas del DataFrame para visualizarlo como tabla
display(df_titanic.head())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [17]:
# Ejercicio 1: Análisis de la distribución de supervivencia por combinación de sexo y clase del pasajero.

# Calcula la proporción de supervivencia para cada combinación de 'Sex' y 'Pclass'.
supervivencia_por_grupo = (
    df_titanic
    .groupby(['Sex', 'Pclass'])['Survived']
    .mean()
)

supervivencia_por_grupo

# Identifica qué combinación tuvo la tasa de supervivencia más alta.
supervivencia_alta = supervivencia_por_grupo.idxmax(), supervivencia_por_grupo.max()
print("Mayor tasa de supervivencia:", supervivencia_alta)

# Identifica qué combinación tuvo la tasa de supervivencia más baja.
supervivencia_baja = supervivencia_por_grupo.idxmin(), supervivencia_por_grupo.min()
print("Menor tasa de supervivencia:", supervivencia_baja)

Mayor tasa de supervivencia: (('female', np.int64(1)), 0.9680851063829787)
Menor tasa de supervivencia: (('male', np.int64(3)), 0.13544668587896252)

In [20]:
# Ejercicio 2: Identificación de familias grandes a bordo.

# Crea una nueva columna 'FamilySize' sumando las columnas 'SibSp' y 'Parch'.
df_titanic['FamilySize'] = df_titanic['SibSp'] + df_titanic['Parch']

# Considera como "familia grande" a aquellas donde 'FamilySize' es mayor a 3.
familias_grandes = df_titanic[df_titanic['FamilySize'] > 3]

# Calcula el número de pasajeros en familias grandes.
num_familias_grandes = len(familias_grandes)

# Calcula la proporción de supervivencia entre los pasajeros que pertenecen a familias grandes.
survival_familias_grandes = familias_grandes['Survived'].mean()

print("Número de pasajeros en familias grandes:", num_familias_grandes)
print("Proporción de supervivencia entre los pasajeros que pertenecen a familias grandes:", survival_familias_grandes)

Número de pasajeros en familias grandes: 62
Proporción de supervivencia entre los pasajeros que pertenecen a familias grandes: 0.16129032258064516

In [22]:
# Ejercicio 3: Segmentación por grupos de edad.

# Clasifica a los pasajeros en las siguientes categorías de edad:  menor de edad (< 18) y mayor de edad (>=18)
def clasificar_edad(edad):
    if pd.isna(edad):
        return np.nan
    elif edad < 18:
        return "Menor de edad"
    else:
        return "Mayor de edad"
df_titanic['GrupoEdad'] = df_titanic['Age'].apply(clasificar_edad)

df_titanic[['Age', 'GrupoEdad']].head()

    Age      GrupoEdad
0  22.0  Mayor de edad
1  38.0  Mayor de edad
2  26.0  Mayor de edad
3  35.0  Mayor de edad
4  35.0  Mayor de edad

In [30]:
# Ejercicio 4: Comparación entre promedios calculados manualmente y con Pandas

# Utiliza NumPy para calcular el promedio de las columnas 'Age' y 'Fare', ignorando valores nulos.
edad_np = np.nanmean(df_titanic['Age'].values)
fare_np = np.nanmean(df_titanic['Fare'].values)

print(f"Edad con NumPy: {edad_np:.2f}")
print(f"Fare con NumPy: {fare_np:.2f}")
print()

# Compara estos valores con los promedios obtenidos utilizando los métodos nativos de Pandas.
edad_pd = df_titanic['Age'].mean()
fare_pd = df_titanic['Fare'].mean()

print(f"Edad con Pandas: {edad_pd:.2f}")
print(f"Fare con Pandas: {fare_pd:.2f}")

# Verifica que los resultados sean consistentes.

Edad con NumPy: 29.70
Fare con NumPy: 32.20

Edad con Pandas: 29.70
Fare con Pandas: 32.20

In [36]:
# Ejercicio 5. Creación de intervalos de clase usando NumPy y análisis con Pandas

# Divide la columna 'Fare' en 5 intervalos equidistantes utilizando la función numpy.linspace.
intervalos = np.linspace(df_titanic['Fare'].min(), df_titanic['Fare'].max(), 6)
intervalos

# Crea una nueva columna en el DataFrame que asigne a cada pasajero el intervalo correspondiente de su tarifa.
df_titanic['FareInterval'] = pd.cut(df_titanic['Fare'], bins=intervalos, include_lowest=True)
df_titanic[['Fare', 'FareInterval']].head()

# Calcula el número de pasajeros en cada intervalo utilizando Pandas y la proporción de supervivientes por intervalo.
analisis_fare = (
    df_titanic
    .groupby('FareInterval')['Survived']
    .agg(
        pasajeros='count',
        proporcion_supervivencia='mean'
    )
)

analisis_fare

/tmp/ipython-input-2288435584.py:14: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  .groupby('FareInterval')['Survived']

                    pasajeros  proporcion_supervivencia
FareInterval
(-0.001, 102.466]         838                  0.361575
(102.466, 204.932]         33                  0.757576
(204.932, 307.398]         17                  0.647059
(307.398, 409.863]          0                       NaN
(409.863, 512.329]          3                  1.000000